<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>Titre : {{ cd.titre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>Auteur : {{ cd.auteur }}</ion-card-header>
    <ion-card-content>
      <p>Prix : {{cd.prix}}</p>
      <p *ngFor="let line of cd.description">{{ line }}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            full
            color="danger"
            [disabled]="!cd.isLend"
            (click)="onToggleCd()">Prêter</button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            full
            color="secondary"
            [disabled]="cd.isLend"
            (click)="onToggleCd()">Rendre</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
