<ion-header>
  <ion-navbar>
    <ion-title>Reglages</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-input placeholder="saisir un texte"></ion-input>
</ion-content>
