<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item icon-start (click)="onNavigate(tabsPage)">
        <ion-icon name="home"></ion-icon>
        Gestion des Emprunts
      </button>
      <button ion-item icon-start (click)="onNavigate(settingsPage)">
        <ion-icon name="settings" style="margin-top: 3px"></ion-icon>
        Reglages
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="tabsPage" #content></ion-nav>
