<ion-header>
  <ion-navbar>
    <ion-title>LIVRES</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let book of booksList; let i = index"
            (click)="onLoadBook(i)">
      <h3 [ngStyle]="{'color':book.isLend ? '#f53d3d' : '#32db64'}">{{ book.titre }}</h3>
    </button>
  </ion-list>
</ion-content>
