<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>Titre : {{ book.titre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>Auteur : {{ book.auteur }}</ion-card-header>
    <ion-card-content>
      <p>Genre : {{book.genre}}</p>
      <p>Prix : {{book.prix}}</p>
      <p *ngFor="let line of book.description">{{ line }}</p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            full
            color="danger"
            [disabled]="!book.isLend"
            (click)="onToggleBook()">Prêter
          </button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            full
            color="secondary"
            [disabled]="book.isLend"
            (click)="onToggleBook()">Rendre
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
