<ion-header>
  <ion-navbar>
    <ion-title>CD</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let cd of cdsList; let i = index"
            (click)="onLoadCd(i)">
      <h3 [ngStyle]="{'color':cd.isLend ? '#f53d3d' : '#32db64'}">{{ cd.titre }}</h3>
    </button>
  </ion-list>
</ion-content>
